<form class="px-2 flex flex-wrap" (ngSubmit)="calcularPuntuacion()">
    <div *ngFor="let afirmacion of afirmaciones; let i = index" class="w-full sm:w-1/2 md:w-1/2 lg:w-1/4 p-2">
        <section>
            <label for="small" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                {{ afirmacion }}</label>
            <select id="small"
                class="block w-full p-2 mb-6 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option value="" disabled selected>Seleccione</option>
                <option value="1">Siempre</option>
                <option value="2">Casi siempre</option>
                <option value="3">Frecuentemente</option>
                <option value="4">Casi nunca</option>
                <option value="5">Nunca</option>
            </select>
        </section>
    </div>
    <button type="submit">Calcular Puntuación</button>
</form>