<section class="flex flex-col sm:flex-row sm:justify-around">
    <div class="lg:w-2/6 max-h-full sm:overflow-y-auto">
        <div
            class="max-w-sm p-4 m-auto shadow-xl bg-white border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700 card">

            <p
                class="mb-3 text-center text-gray-500 dark:text-gray-400 first-line:uppercase first-line:tracking-widest first-letter:text-5xl first-letter:font-bold first-letter:text-gray-900 dark:first-letter:text-gray-100">
                Test de Vulnerabilidad al Estrés de L. H. Miller y A. D. Smith</p>

            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                Herramienta psicométrica diseñada para evaluar la predisposición de un individuo a experimentar estrés
                en situaciones específicas. Este test busca identificar los factores que pueden aumentar la
                vulnerabilidad de una persona ante el estrés, como rasgos de personalidad, estilos de afrontamiento,
                eventos vitales estresantes, entre otros.
            </p>
            <a routerLink="test"
                class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Realizar test
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 5h12m0 0L9 1m4 4L9 9" />
                </svg>
            </a>
        </div>
    </div>
    <div class="lg:w-2/6 max-h-full sm:overflow-y-auto">
        <div
            class="max-w-sm p-4 m-auto shadow-xl bg-white border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700 card">

            <p
                class="mb-3 text-center text-gray-500 dark:text-gray-400 first-line:uppercase first-line:tracking-widest first-letter:text-5xl first-letter:font-bold first-letter:text-gray-900 dark:first-letter:text-gray-100">
                Índice de Higiene Bucal Simplificado de Green y Vermillon (IHOS)</p>

            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                Breve descripción de la herramienta de evaluación utilizada en odontología para medir y diagnosticar la
                salud bucal y la eficacia de los hábitos de
                higiene oral de una persona. Este índice simplificado se centra en la acumulación de placa bacteriana,
                que
                es un factor importante en la prevención de enfermedades periodontales y caries dentales.
            </p>
            <a routerLink="bucal"
                class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Ver
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 5h12m0 0L9 1m4 4L9 9" />
                </svg>
            </a>
        </div>
    </div>
</section>