<article class="px-5 sm:w-full bg-white dark:bg-gray-800">
    <p
        class="mb-3 text-center text-gray-500 dark:text-gray-400 first-line:uppercase first-line:tracking-widest first-letter:text-5xl first-letter:font-bold first-letter:text-gray-900 dark:first-letter:text-gray-100">
        Índice de Higiene Bucal Simplificado de Green y Vermillon (IHOS)</p>
    <section>
        <p class="mb-3 text-lg text-gray-800 md:text-xl dark:text-white">I. Descripción general.</p>
        <div class="grid grid-cols-1 gap-6 sm:grid-cols-3">
            <p class="mb-3 text-gray-500 dark:text-gray-400">Dientes a examinar:<br> Se divide la boca en seis partes
                (sextante)
                y se revisan seis dientes específicos, uno por cada sextante.</p>
            <p class="mb-3 text-gray-500 dark:text-gray-400">Número de las superficies: <br>Se evalúan únicamente seis
                superficies, una de cada diente seleccionado para el IHOS.</p>
            <p class="mb-3 text-gray-500 dark:text-gray-400">Puntuación: <br>El IHOS tiene un valor mínimo de 0 y un
                valor
                máximo de 6, contabilizando detritos y cálculo.</p>
        </div>
    </section>
    <section>
        <p class="mb-3 text-lg text-gray-800 md:text-xl dark:text-white">II. Procedimiento</p>
        <div class="grid grid-cols-1 gap-6 sm:grid-cols-3">
            <p class="mb-3 text-gray-500 dark:text-gray-400">a) Secuencia: <br>Revise siguiendo la secuencia 16, 11, 26,
                36,
                31 y 46, para valorar detritos y cálculo. Las superficies dentales se Examinan del borde incisal a
                cervical con el explorador procurando revisar toda la superficie. La puntuación debe reflejar la
                estimación de toda la superficie, incluida el área proximal de las zonas de contacto.</p>
            <div>
                <p class="mb-3 text-gray-500 dark:text-gray-400">b) Identificación de los dientes y superficies
                    específicos: </p>
                <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
                    <p class="mb-3 text-gray-500 dark:text-gray-400">Segmentos superiores. Revise las superficies
                        vestibulares de los primeros molares y el
                        central derecho. Si no estuviese presentes los primeros molares o se encuentre restaurado con
                        una corona
                        total sustitúyalos por el segundo o el tercer molar. En el caso del central se podrá sustituir
                        por el
                        otro central.</p>
                    <p class="mb-3 text-gray-500 dark:text-gray-400">Segmentos inferiores. Se explora la superficie
                        bucal
                        del central izquierdo, en el caso de los primero
                        morales se revisarán las superficies linguales. De no encontrarse alguno de los dientes, se
                        realiza
                        la
                        sustitución la misma sustitución mencionada anteriormente.</p>
                </div>
            </div>
            <p class="mb-3 text-gray-500 dark:text-gray-400">c) Exclusión: <br> Segmento posteriores. Si no se encuentra
                ningún molar (ya sea por ausencia o por restauración con coronas) se deberá excluir ese segmento de la
                revisión.
                <br>
                - Segmento anteriores. Si no se encuentra ningún central (ya sea por ausencia o por restauración con
                coronas) también se deberá excluir.
            </p>
        </div>
        <div>
            <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
                <p class="mb-3 text-gray-500 dark:text-gray-400">d) Registro de detritos: <br> Los detritos se definen como la materia suave adherida
                    al diente, formada por mucina, bacterias así como
                    los restos alimenticios. En el cuadro 1 se describen los criterios clínicos establecidos para
                    obtener el
                    índice de detritos.</p>
                    <div class="relative sm:overflow-x-auto">
                        <table class="w-full text-sm text-gray-500 dark:text-gray-400">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
                                <tr>
                                    <th scope="col" class="px-6 py-3 rounded-s-lg">
                                        Código
                                    </th>
                                    <th scope="col" class="px-6 py-3 rounded-e-lg">
                                        Signo clínico
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="">
                                <tr class="bg-white dark:bg-gray-800">
                                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        0
                                    </th>
                                    <td class="px-6 py-4">
                                        Ausencia de detritos o mancha extrínseca en la superficie examinada</td>
                                </tr>
                                <tr class="bg-white dark:bg-gray-800">
                                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        1
                                    </th>
                                    <td class="px-6 py-4">
                                        Presencia de detritos cubriendo no más de 1/3 de la superficie del diente, o ausencia de
                                        detritos, más presencia de mancha extrínseca
                                    </td>
                                </tr>
                                <tr class="bg-white dark:bg-gray-800">
                                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        2
                                    </th>
                                    <td class="px-6 py-4">
                                        Presencia de detritos cubriendo más de 1/3 pero no más de 2/3 de la superficie examinada;
                                        podrá haber o no presencia de mancha extrínseca</td>
                                </tr>
                                <tr class="bg-white dark:bg-gray-800">
                                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        3
                                    </th>
                                    <td class="px-6 py-4">
                                        Presencia de detritos cubriendo más de 2/3 de la superficie examinada;
                                        podrá haber o no la presencia de mancha extrínseca </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </section>
</article>